@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

body {
    overflow-x: hidden;
}